
:root {
    --primary: #2C3E50;
    --light: rgba(255, 255, 255, 0.9);
    --dark: #252525;
    --btn: #27AE60;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: var(--primary);
}

/* navbar */

.menu {
    margin-top: 40px;
}

.menu a {
    color: var(--primary);
    font-weight: 500;
}

.menu a:hover {
    color: var(--dark);
}

.navbare a {
    text-align: center;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 700px) {
    .navbare {
        width: 90%;
        display: flex;
        background: var(--light);
        justify-content: center;
        align-items: center;
        position: fixed;

        transition: 0.3s;
        z-index: 3;
        height: 40vh;
        border-radius: 10px;
    }

    .menu li {
        text-align: right;
        width: 100%;
    }

    .hamburger {
        display: block;
        float: right;
        margin-right: 30px;
        color: var(--primary);
    }

    .hamburger:hover {
        cursor: pointer;
    }
}

/* main */

.main {
    margin-top: 100px;
}

.main-left {
    margin-bottom: 40px;
}

.main img {
    height: 45vh;
}

.main-title {
    font-size: 70px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-btn {
    background: var(--btn);
    color: #fff;
    text-decoration: none;
    padding: 15px 35px;

    font-size: 14px;
    border-radius: 3px;
    transition: 0.3s;
}

.main-btn:hover {
    background: #227947;
    color: #fff;
}

@media only screen and (max-width: 700px) {
    .main {
        margin-top: 10px;
    }

    .main-title {
        font-size: 50px;
    }
}


/* category */

.category {
    margin-top: 60px;
}

.category img {
    height: 20vh;
}


/* about */

.about {
    background: url("img/about-back-img.png");

    margin-top: 10vh;
}

.about p {
    color: #fff;
}

.icon-circle {
    background: rgba(255, 255, 255, 0.29);
    height: 100px;
    width: 100px;
    border-radius: 100px;

    margin: 15px auto;
}

.about-icon {
    margin-top: 15px;
    width: 60px;
    height: 60px;
}

.about-block {
    margin: 50px 0;
}


@media only screen and (max-width: 700px) {
    .about-block {
        margin: 0;
    }
}


.contacts {
    background: #2C3E50;
    padding-top: 50px;
    padding-bottom: 35px;
}

.contacts p {
    color: #fff;
    margin: 0;
}

.contacts-block {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.contacts-block img {
    height: 53px;
    margin: 5px;
}



.mail-section {
    background: #1E2329;
    padding: 3% 10% 5% 10%;
    font-size: 14px;
}

.mail-section h3 {
    color: #fff;

}

.mail-section input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.mail-section textarea {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 4px;
}


/* brands */

.brands {
    margin: 100px 0;
}

.brands img {
    width: 180px;
}

.brands a {
    width: 180px;
    margin: 10px;
}

footer {
    background: #252525;
    color: #fff;
    position: absolute;
    width: 100%;
}

/* ABOUT */
.a-about-section img {
    width: 100%;
}

.a-about-text {
    margin: auto;
    padding-left: 50px;
}

@media only screen and (max-width: 700px) {
    .a-about-text {
        margin: auto;
        padding-left: 10px;
    }
}
/* BRANDS */

.brand-detail {
    text-align: justify;
    height: 90vh;
}

.brand-image {
    width: 25vh;
}

@media only screen and (max-width: 700px) {
    .brand-detail {
        text-align: justify;

    }
}

.brand-links a {
    color: #2C3E50;
    font-weight: bold;
    text-decoration: none;
}

.brand-links a:hover {
    color: #557b9f;
}



.brands-page {
    height: 90vh;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 22);
    animation: scroll 25s linear infinite;
}

.slide {
    height: 300px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}


.slide img {
    width: 100%;
    transition: 0.2s;
}

.slide-track:hover {
    animation-play-state: paused;
}


.slide img:hover {
    transform: scale(1.1);
}

.slide h5 {
    margin-top: 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.category-list {
    border: 1px solid #EAE2E2;
    /*padding: 30px;*/
}

.category-button {
    background: #F8F8F8;
    padding: 20px;
}

.category-button p {
    margin: 0;
}

.category-list ul {
    list-style: none;
    padding: 20px;
}

.category-list ul li{
    padding-bottom: 10px;
}

.list-active {
    font-weight: bold;
}

.category-list a {
    color: #656565;
    text-decoration: none;
}

.category-list a:hover {
    color: #0a0a0a
}

.info-pic {
    width: 100%;
    height: 15vh;
    object-fit:cover;
}

.catalog-block {
    border: 1px solid #EAE2E2;
    padding: 20px;
    margin-bottom: 20px;
}

.catalog-block p {
    font-size: 14px;
}

.catalog-block img{
    width: 100%;
}



.catalog-block a {
    text-decoration: none;
}

.catalog-text-shrink {
    max-height: 170px;
    overflow: hidden;
    transition: 0.3s;
}


.catalog-text-expand {
    height: auto;

    transition: 0.3s;
}

@media only screen and (max-width: 700px) {
    .catalog-text-shrink {
        max-height: 70px;
    }
}

footer li {
    list-style: none;
}

footer a {
    color: #EAE2E2;
    text-decoration: none;
    transition: 0.3s;
}

footer svg {
    color: #EAE2E2;
}

footer a:hover {
    color: #7e7878;
}
